[role="grid"] {
    outline: none;
}

[role="row"] {
    cursor: pointer;
    outline: none;
}

[role="row"].disqualified, [role="row"].disqualified svg {
    color: rgba(0, 0, 0, 0.3) !important;
    text-decoration: line-through;
}

[role="row"].selected {
    background: #008080;
}
