### https://raw.github.com/github/gitignore/8c9b77cb5c85f6464c0bb31abdf4cfcfdf6833bb/Scala.gitignore

# app specific
.env*
fixtures/postgres/*
fixtures/redis/*
fixtures/ssl/*

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Stripe spesific
*secret-key.txt

.idea
