version: '2'

# Usage:  docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d
# For hints on proper values for environment variables, see docker-compose.override.yml
# DO NOT COMMIT PRODUCTION SECRETS TO ANY REPOSITORY

services:
  nginx:
    build:
      args:
        SERVER_NAME:
        SSL_CERTIFICATE:
        SSL_CERTIFICATE_KEY:
    ports:
      - "80:80"
      - "443:443"
    restart: always

  hugo:
    environment:
      DATABASE_URL:
      SESSION_SECRET:
    restart: always

  kansa:
    environment:
      DATABASE_URL:
      SESSION_SECRET:
      STRIPE_SECRET_APIKEY:
    restart: always

  raami:
    environment:
      DATABASE_URL:
      SESSION_SECRET:

  kyyhky:
    environment:
      LOGIN_URI_ROOT:
      SENDGRID_APIKEY:
    restart: always

  postgres:
    environment:
      POSTGRES_PASSWORD:
      KANSA_PG_PASSWORD:
      HUGO_PG_PASSWORD:
    restart: always
