.provider {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  outline: none;
}

.facebook {
  background: #3B5998;
}
.google {
  background: #D14836;
}
.twitter {
  background: #00ACED;
}

/* Stripe buy buttons */
.btn-110 {
    width:110px;
}

/* overwrite the alertify dimmer value for Stripe payments */
.alertify .ajs-dimmer {
    background-color: #ffffff !important;
    opacity: 1 !important;
}