---
from: hugohelp@conzealand.nz
fromname: Hugo Awards 2020
subject: Your 2020 Hugo Award and John W. Campbell Nominating Ballot
---
Dear {{&name}},

Thank you for your nomination for the 2020 Hugo Awards and John W. Campbell Award.

Below is a summary of your current nominating ballot:

{{&nominations}}

You may make changes to your nominations by using the following link to sign in again:

{{&login_uri}}


CoNZealand - hugohelp@conzealand.nz

http://conzealand.nz
