---
from: registration@dublin2019.com
fromname: Dublin 2019 - An Irish Worldcon - Registration
subject: Dublin 2019 - An Irish Worldcon - Registration Login Link
---
Dear {{&name}},

The email address attached to this Worldcon membership has been updated. Please find the instructions and a new personalized login link to access your membership data below. The login link connected to the old email address has been disabled.

If you have any questions regarding the membership update, please contact registration@dublin2019.com.


{{&login_uri}}

This link is personal to you, so it should not be shared.

If you have difficulties accessing the membership site, or you have more general questions, you can e-mail registration@dublin2019.com for assistance.


Thank you; we hope to see you at Dublin 2019 - An Irish Worldcon.


Sincerely,

The Dublin2019 - An Irish Worldcon - Registration Team
