---
from: hugohelp@worldcon.fi
fromname: Hugo Awards 2017
subject: Your Updated 2017 Hugo Award Voting Ballot
---
Dear {{&name}},

Thank you for voting in the 2017 Hugo awards.

Below is a summary of your current ballot.

{{&votes}}

You may continue to make changes to your ballot until 15 July 2017 11:59 p.m. Pacific Daylight Time, (2:59 a.m. Eastern Daylight Time, 07:59 British Summer Time, 09:59 in Finland, all on 16 July 2017) by using the following link to sign in:

{{&login_uri}}


Worldcon 75
hugohelp@worldcon.fi
http://worldcon.fi/
