---
from: hugohelp@conzealand.nz
fromname: Hugo Awards 2020
subject: Your Updated 2020 Hugo Award Voting Ballot
---
Dear {{&name}},

Thank you for voting in the 2020 Hugo awards.

Below is a summary of your current ballot.

{{&votes}}

You may continue to make changes to your ballot until [date month year 11:59 p.m. Time Zone, (additional times in various time zones) by using the following link to sign in:

{{&login_uri}}


CoNZealand - registration@conzealand.nz

https://conzealand.nz/
