---
from: hugohelp@worldcon.fi
fromname: Hugo Awards 2017
subject: Worldcon 75 Hugo Awards Login Link
---
Dear {{&name}},

The email address attached to this Worldcon membership has been updated. Please find the instructions and a new personalized login link for the 2017 Hugo Awards voting below. The login link connected to the old email address has been disabled.

If you have any questions regarding the membership update, please contact registration@worldcon.fi.


--------

As a member of Worldcon 75 you are eligible to choose the winners of the 2017 Hugo Awards and the John W Campbell Award for Best New Writer.

The vote is a preferential ballot, as in previous years. To vote, you mark your choices in each category in order of preference: “1” for first place, “2” for second place, and so on, until you have no further preference. A lower preference is considered only if all the candidates ranked higher have been eliminated.

Please note that “No Award”, which appears in every category, is not an abstention, it means that none of the finalists should be given the award in question.

You can do this in two ways: either via a paper ballot at http://www.worldcon.fi/wsfs/hugo/ or by using our online voting system. To vote online, all you have to do is click on this link, which is personalized to your email address (we are not using a PIN or password system):

{{&login_uri}}

This link is personal to you, so it should not be shared.

Once you have logged in, you can make as many changes as you like up to your ballot until the deadline. You may save your vote at any time. Your current ballot will be emailed to you an hour after you finish modifying it.

The deadline for voting is Saturday 15 July 2017 at 11:59pm Pacific Daylight Time (2:59 am Eastern Daylight Time, 07:59 British Summer Time, 09:59 in Finland, all on 16 July). Your ballot at that time will be your final vote.

The awards will be presented on 11 August at Worldcon 75 in Helsinki, Finland.

We hope to have the Hugo packet available by May and will post announcement on our website and via Facebook and Twitter when it becomes available.

If you have difficulties accessing the online ballot, or you have more general questions on the Hugo process, you can e-mail hugohelp@worldcon.fi for assistance.

A printable version of the Hugo ballot is also included in Progress Report 4, available for download at http://www.worldcon.fi/publications/. The progress report also includes other fun and useful information like information about hotels, what the Worldcon 75 divisions are up to and various activities available in Helsinki.

Thank you; I look forward to your participation in the 2017 Hugo Awards, and hope to see you at Worldcon 75 in Helsinki.


Sincerely,

Nicholas Whyte
Hugo Administrator
