---
from: hugohelp@worldcon.ie
fromname: Hugo Awards 2019
subject: Your 2019 Hugo Award and John W. Campbell Nominating Ballot
---
Dear {{&name}},

Thank you for your nomination for the 2019 Hugo Awards and John W. Campbell Award.

Below is a summary of your current nominating ballot:

{{&nominations}}

You may make changes to your nominations until 17 March 2019 at 11:59pm Pacific Daylight Time (2:59am Eastern Daylight Time, 0659 Greenwich Mean Time, all on 18 March), by using the following link to sign in again:

{{&login_uri}}


Dublin 2019 - An Irish Worldcon
hugohelp@worldcon.ie
https://worldcon.ie/
