---
from: hugohelp@worldcon.ie
fromname: Hugo Awards 2019
subject: Your Updated 2019 Hugo Award Voting Ballot
---
Dear {{&name}},

Thank you for voting in the 2019 Hugo awards.

Below is a summary of your current ballot.

{{&votes}}

You may continue to make changes to your ballot until 15 July 2019 11:59 p.m. Pacific Daylight Time, (2:59 a.m. Eastern Daylight Time, 07:59 British Summer Time, all on 16 July 2019) by using the following link to sign in:

{{&login_uri}}


Dublin 2019 - An Irish Worldcon
hugohelp@worldcon.ie
https://worldcon.ie/
