---
from: hugohelp@conzealand.nz
fromname: Hugo Awards 2020
subject: CoNZealand Hugo Awards Login Link
---
Dear {{&name}},

The email address attached to this Worldcon membership has been updated. Please find the instructions and a new personalized login link for the 2017 Hugo Awards voting below. The login link connected to the old email address has been disabled.

If you have any questions regarding the membership update, please contact registration@conzealand.nz


--------

As a member of Worldcon 78 you are eligible to choose the winners of the 2020 Hugo Awards and the John W Campbell Award for Best New Writer.

The vote is a preferential ballot, as in previous years. To vote, you mark your choices in each category in order of preference: “1” for first place, “2” for second place, and so on, until you have no further preference. A lower preference is considered only if all the candidates ranked higher have been eliminated.

Please note that “No Award”, which appears in every category, is not an abstention, it means that none of the finalists should be given the award in question.

You can do this in two ways: either via a paper ballot at http://www.conzealand.nz/wsfs/hugo/ or by using our online voting system. To vote online, all you have to do is click on this link, which is personalized to your email address (we are not using a PIN or password system):

{{&login_uri}}

This link is personal to you, so it should not be shared.

Once you have logged in, you can make as many changes as you like up to your ballot until the deadline. You may save your vote at any time. Your current ballot will be emailed to you an hour after you finish modifying it.

The deadline for voting is [day, date month 2020 at 11:59 time zone (additional times in various time zones)]. Your ballot at that time will be your final vote.

The awards will be presented on [date month] at Worldcon 78 in Wellington, New Zealand.

We hope to have the Hugo packet available by [month] and will post announcement on our website and via Facebook and Twitter when it becomes available.

If you have difficulties accessing the online ballot, or you have more general questions on the Hugo process, you can e-mail hugohelp@conzealand.nz for assistance.

A printable version of the Hugo ballot is also included in Progress Report 4, and available for download at http://www.conzealand.nz/publications/. The progress report also includes other fun and useful information like information about hotels, what the Worldcon 78 divisions are up to and various activities available in Wellington.

Thank you; I look forward to your participation in the 2020 Hugo Awards, and hope to see you at Worldcon 78 in Wellington.


Sincerely,

[name]
Hugo Administrator
