---
from: registration@conzealand.nz
fromname: CoNZealand Registration
subject: Your day pass for CoNZealand
---
Kia ora! Welcome to Worldcon!

We've just processed your CoNZealand day pass purchase.

To access our online services and to check that all your data is correct, please use the following link:

{{&login_uri}}

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

Our charge ID for this transaction was {{&charge_id}}, and it will appear on your statement as coming from "CoNZealand".


CoNZealand
registration@conzealand.nz
https://conzealand.nz
