---
from: siteselection@conzealand.nz
fromname: Worldcon 80 Site Selection
subject: Your Worldcon 80 Site Selection Token
---
{{#name}}
Dear {{&name}},

{{/name}}
We've just processed a new {{&strAmount}} Worldcon 80 Advance Membership Fee payment for you from {{&payment_email}}. This is the voting token you must enter on the site selection ballot as proof of payment:

{{&data}}


Printable copies of the Worldcon Site Selection ballot are available from http://Conzealand.nz/wsfs/site-selection

Note: You must be a member of CoNZealand to vote in Site Selection; visit https://members.Conzealand.nz/new to purchase your CoNZealand membership if you are not a member already.

Our charge ID for this transaction was {{&stripe_charge_id}}.


Worldcon 80 Site Selection
siteselection@conzealand.nz
http://Conzealand.nz/wsfs/site-selection
