---
from: siteselection@worldcon.fi
fromname: Worldcon 77 Site Selection
subject: Your Worldcon 77 Site Selection Token
---
{{#name}}
Dear {{&name}},

{{/name}}
We've just processed a new {{&strAmount}} Worldcon 77 Advance Membership Fee payment for you from {{&payment_email}}. This is the voting token you must enter on the site selection ballot as proof of payment:

{{&data}}


Printable copies of the Worldcon Site Selection ballot are available from http://worldcon.fi/wsfs/site-selection

Note: You must be a member of Worldcon 75 to vote in the Site Selection; visit https://members.worldcon.fi/new to purchase your Worldcon 75 membership if you are not a member already.

Our charge ID for this transaction was {{&stripe_charge_id}}.


Worldcon 77 Site Selection
siteselection@worldcon.fi
http://worldcon.fi/wsfs/site-selection
