---
from: finance@conzealand.nz
fromname: CoNZealand Finance
subject: CoNZealand Payment {{&status}}: {{&typeLabel}}
---
{{#name}}
Dear {{&name}},

{{/name}}
We've just processed a new {{&strAmount}} {{&typeLabel}} payment for you from {{&payment_email}}. The specific details for this are as follows:

{{&data}}

{{#mandate_url}}
As this payment was made using SEPA Direct Debit, it will show up as "pending" until completed, which may take up to 14 business days. You may see the mandate you've accepted for this transaction at the following page:

{{&mandate_url}}{{/mandate_url}}

Our charge ID for this transaction is {{&stripe_charge_id}}.


CoNZealand - finance@conzealand.nz

http://conzealand.nz
