---
from: siteselection@worldcon.ie
fromname: Worldcon 79 Site Selection
subject: Your Worldcon 79 Site Selection Token
---
{{#name}}
Dear {{&name}},

{{/name}}
We've just processed a new {{&strAmount}} Worldcon 79 Advance Membership Fee payment for you from {{&payment_email}}. This is the voting token you must enter on the site selection ballot as proof of payment:

{{&data}}


Printable copies of the Worldcon Site Selection ballot are available from http://worldcon.ie/wsfs/site-selection

Note: You must be a member of Dublin 2019 - An Irish Worldcon - to vote in the Site Selection; visit https://members.worldcon.ie/new to purchase your Dublin 2019 - An Irish Worldcon - membership if you are not a member already.

Our charge ID for this transaction was {{&stripe_charge_id}}.


Worldcon 79 Site Selection
siteselection@worldcon.ie
https://worldcon.ie/wsfs/site-selection
