---
from: registration@worldcon.fi
fromname: Worldcon 75 Registration
subject: Worldcon 75 Membership Upgrade to {{&membership}}
---
Congratulations, {{&name}}!

Your Worldcon 75 membership #{{&member_number}} was just upgraded from {{&prev_membership}} to {{&membership}}.

{{#barcode_uri}}
When you come to the convention, we ask that you print or have available on a phone or tablet the following barcode to help speed up our Registration, along with some form of photo ID.

{{&barcode_uri}}.pdf

{{/barcode_uri}}
To access our online services and to check that all your data is correct, please use the following link:

{{&login_uri}}

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

{{#charge_id}}
Our charge ID for this transaction was {{&charge_id}}, and it will appear on your statement as coming from "WORLDCON 75".

{{/charge_id}}

Worldcon 75
registration@worldcon.fi
http://worldcon.fi/
