---
from: registration@worldcon.ie
fromname: Dublin 2019 - An Irish Worldcon - Registration
subject: Your new Dublin 2019 - An Irish Worldcon - Account
---
Dear {{&name}},

A non-member account was just created for this email address. To access our services and to continue from where you were, please use the following link:

{{&login_uri}}

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

You've received this message because someone (hopefully you) requested it. If you believe you've received this message in error, please get in touch with us by replying to this address.


Dublin 2019 - An Irish Worldcon
registration@worldcon.ie
https://worldcon.ie/
