---
from: finance@conzealand.nz
fromname: CoNZealand Finance
subject: CoNZealand Payment {{&status}}: {{&typeLabel}}
---
{{#name}}
Dear {{&name}},

{{/name}}
Your {{&strAmount}} {{&typeLabel}} payment has {{&status}}. The specific details for this payment are as follows:

{{&data}}

Our charge ID for this transaction is {{&stripe_charge_id}}. If you have any questions or concerns, please get in touch with us by replying to this message.


CoNZealand
registration@conzealand.nz
https://conzealand.nz/
