---
from: finance@worldcon.ie
fromname: Dublin 2019 - An Irish Worldcon - Finance
subject: Dublin 2019 - An Irish Worldcon - Payment {{&status}}: {{&typeLabel}}
---
{{#name}}
Dear {{&name}},

{{/name}}
Your {{&strAmount}} {{&typeLabel}} payment has {{&status}}. The specific details for this payment are as follows:

{{&data}}

Our charge ID for this transaction is {{&stripe_charge_id}}. If you have any questions or concerns, please get in touch with us by replying to this message.


Dublin 2019 - An Irish Worldcon
finance@worldcon.ie
https://worldcon.ie/
