.FlexTable {
  margin-top: 30px;
  width: 100%;
}
.FlexTable__headerRow {
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.8em;
  color: gray;
}
.Grid__cell:nth-child(odd) {
  background-color: #fafafa;
}

.checkboxLabel {
  margin-left: .5rem;
}
.checkboxLabel:first-of-type {
  margin-left: 0;
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}

.memberDialog {
  padding-left: 0 !important;
}

.memberInput {
  margin-left: 24px;
}
