.provider {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  outline: none;
}

.facebook {
  background: #3B5998;
}
.google {
  background: #D14836;
}
.twitter {
  background: #00ACED;
}
