@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

* { box-sizing:border-box; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f1f7f7;
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 24px;
}

h1, h2, h3 {
  font-weight: 300;
  text-align: center;
}

h1 { font-size: 36px }
h2 { font-size: 24px }
h3 { font-size: 18px }
