/* react-virtualized tables */

[role="grid"] {
    outline: none;
}

[role="row"] {
    cursor: pointer;
    outline: none;
}

[role="row"].disqualified, [role="row"].disqualified svg {
    color: rgba(0, 0, 0, 0.3) !important;
    text-decoration: line-through;
}

[role="row"].selected {
    background: #008080;
}


/* finalist-results */
.finalist {
    background: #eea236;
}


/* canon-nomination-list */
.canon-entry > * {
    text-decoration: underline;
}

.canon-entry > *:first-child {
    text-decoration: none;
}

.drop-nom {
    visibility: hidden;
}

.ReactVirtualized__Table__row:hover .drop-nom {
    visibility: visible;
}
