.NominationCategory {
  margin: 30px 0;
  padding: 5px 15px;
  position: relative;
}

.NominationHeader > div:first-child {
  display: block !important;
  padding: 0 !important;
}

.NominationCategory h3 {
  text-align: start;
  margin-bottom: 0;
}

.NominationField.changed hr {
  border-color: rgb(255, 152, 0) !important;
}

.SaveAllButton {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1;
}
