.NominationCategory {
  margin: 30px 0;
  padding: 20px;
  position: relative;
}

.NominationCategory h2 {
  margin-top: 0;
}

.NominationCategory h3 {
  text-align: start;
  margin-bottom: 0;
}

.NominationField.changed hr {
  border-color: rgb(255, 152, 0) !important;
}

.SaveAllButton {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
