.ReactVirtualized__Table {
  margin-top: 48px;
  width: 100%;
}
.ReactVirtualized__Table__headerRow {
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgb(221, 236, 148);
}
.ReactVirtualized__Table__row {
  cursor: pointer;
}

.checkboxLabel {
  margin-left: 0.5rem;
}
.checkboxLabel:first-of-type {
  margin-left: 0;
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}

.memberDialog {
  padding-left: 0 !important;
}

.memberInput {
  margin-left: 24px;
}
