---
from: hugo@worldcon.fi
fromname: Worldcon 75 Hugo Administration
subject: Worldcon 75 Hugo Nominations updated
---
Dear {{&name}},

You recently updated your Hugo Award nominations at {{&site_uri}}. Here are your current nominations:

{{&nominations}}

You may make changes to your nominations until {{&end_date}}, by using the following link to sign in again:

{{&login_uri}}


Worldcon 75
hugo@worldcon.org
http://worldcon.fi/
