---
from: timewarp-coordinators@worldcon.fi
fromname: The 1980 Timewarp Project
subject: 1980 Timewarp Nominations updated
---
Thank you very much for participating in the 1980 Timewarp Project!  Your nominations as they currently stand are listed below:

{{&nominations}}

You are able to modify or update your nominations until 23:59 EEST on Wednesday, October 31, 2016 by using the following link to sign in again:

{{&login_uri}}


Nicholas Whyte
Colette H. Fozard
The 1980 Timewarp Project Coordinators
timewarp-coordinators@worldcon.fi
https://1980.worldcon.fi/
