---
from: hugohelp@worldcon.fi
fromname: Hugo Awards 2017
subject: Worldcon 75 Hugo Nominations
---
Dear {{&name}},

The email address attached to this Worldcon membership has been updated. Please find the instructions and a new personalized login link for the nominations of the 2017 Hugo Awards below. The nomination link connected to the old email address has been disabled.

If you have any questions regarding the membership update, please contact registration@worldcon.fi.


--------


I’m very glad to be able to tell you that nominations for the 2017 Hugo Awards are now open! As a member of Worldcon 75, MidAmeriCon 2 and/or Worldcon 76, you are eligible to nominate in the 17 Hugo ballot categories covering the best of the genre in the last year, and for the John W Campbell Award for Best New Writer.

To nominate online, all you have to do is click on this link, which is personalized to your email address and membership (we are not using a PIN or password system):

{{&login_uri}}

This link is personal to you, so it should not be shared. Once you have logged in, you can make as many changes as you like up to your nomination ballot until the deadline. Your current ballot will be emailed to you an hour after you stop making changes to it.

The deadline for nominations is 17 March 2017 at 11:59pm Pacific Daylight Time (2:59 am Eastern Daylight Time, 06:59 Greenwich Mean Time, 0:859 in Finland, all on 18 March). Although members of MidAmeriCon II, Worldcon 75 and Worldcon 76 in San José can nominate, only members of Worldcon 75 will be eligible to vote on the final ballot and choose the winners of the 2017 Hugo Awards. We expect to announce the final ballot in early April, and the awards will be presented on 11 August at Worldcon 75 in Helsinki, Finland.

The World Science Fiction Society’s Business Meetings in 2015 and 2016 made some changes to the way nominations will be tallied this year to produce the final ballot. You can find a summary of the changes at http://www.worldcon.fi/wsfs/hugo/. In addition, Worldcon 75 is trialling a proposed new category, Best Series. Nothing, however, has changed about the mechanics of making nominations. You still choose up to five nominees in each category. We recommend that you nominate whatever works and creators you have personally read or seen that were your favorites from 2016.

If you have difficulties accessing the online ballot(s), or you have more general questions on the Hugo process, you can e-mail hugohelp@worldcon.fi for assistance.

A printable version of the Hugo Nominating ballot is also included in Progress Report 3, which will be available for download soon from http://www.worldcon.fi/publications/. The progress report also includes other fun and useful information like information about hotels, what the Worldcon 75 divisions are up to and various activities available in Helsinki.

Thank you; I look forward to your participation in the 2017 Hugo Awards, and hope to see you at Worldcon 75 in Helsinki.



Sincerely,

Nicholas Whyte
Hugo Administrator
