---
from: hugohelp@worldcon.fi
fromname: Worldcon 75 Hugo Administration
subject: Worldcon 75 Hugo Nominations updated
---
Dear {{&name}},

You recently updated your Hugo Award nominations. Here are your current nominations:

{{&nominations}}

You may make changes to your nominations until 17 March 2017 at 11:59pm Pacific Daylight Time (2:59pm Eastern Daylight Time, 0659 Greenwich Mean Time, 0859 in Finland, all on 18 March), by using the following link to sign in again:

{{&login_uri}}


Worldcon 75
hugohelp@worldcon.org
http://worldcon.fi/
