---
from: registration@worldcon.fi
fromname: Worldcon 75 Registration
subject: Worldcon 75 Paper Publications Purchased
---
Thank you, {{&name}}!

We've just processed a purchase of paper publications for your {{&membership}} Worldcon 75 membership #{{&member_number}}. Mail from us will be sent to:

{{&paper_pubs.name}}
{{&paper_pubs.address}}
{{&paper_pubs.country}}


To access our online services and to check that all your data is correct, please use the following link:

{{&login_uri}}

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

Our charge ID for this transaction was {{&charge_id}}, and it will appear on your statement as coming from "WORLDCON 75".


Worldcon 75
registration@worldcon.fi
http://worldcon.fi/
