---
from: timewarp-coordinators@worldcon.fi
fromname: The 1980 Timewarp Project
subject: Your 1980 Timewarp Access Key
---
Thank you for registering for the 1980 Timewarp Project with the address "{{&email}}".  Now that you have registered, you are able to nominate up until 31 October, 2016 at 23:59 EET (Finnish time – that is 21:59 British time, 5.59 pm Eastern Daylight Time, 2.59 pm Pacific Daylight Time)

The 1980 Timewarp Project is a fan-supported test of new software solutions for the 2017 Hugo awards.  We ask that you nominate your own favourites from the genre and fandom from 1979, by signing in at the following address:

{{&login_uri}}

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

Some resources that may be useful for you:

The full Hugo results, including the long-lists (7-page PDF, last two pages in wrong order): http://smofinfo.com/wsfs/Hugos/1980%20--%20Hugo%20voting%20details.pdf

Nebula winners and shortlists: http://www.sfadb.com/db/Nebula_Awards_1980
Locus Awards: http://www.sfadb.com/db/Locus_Awards_1980
World Fantasy Awards: http://www.sfadb.com/db/World_Fantasy_Awards_1980
British Fantasy Awards: http://www.sfadb.com/db/British_Fantasy_Awards_1980
BSFA Awards: http://www.sfadb.com/db/British_SF_Association_Awards_1980
John W. Campbell Memorial Award: http://www.sfadb.com/db/John_W_Campbell_Memorial_Award_1980
Analog Readers’ Poll: http://www.sfadb.com/db/Analog_Readers_Poll_1980
Balrog Awards: http://www.sfadb.com/db/Balrog_Awards_1980
Ditmar Awards: http://www.sfadb.com/db/Ditmar_Awards_1980
Fan Activity Achievement Awards: http://www.sfadb.com/db/Fan_Activity_Achievement_Awards_1980

The Encyclopedia of Science Fiction: http://sf-encyclopedia.com/
The Internet Speculative Fiction Database: http://www.isfdb.org/
The Internet Movie Database: http://www.imdb.org/


If you have difficulties accessing the online ballot, or you have more general questions on the 1980 Timewarp process, you can e-mail timewarp-coordinators@worldcon.fi for assistance.

Thank you and we look forward to your participation in the 1980 Timewarp!


Sincerely,

Nicholas Whyte
Colette H. Fozard
The 1980 Timewarp Project Coordinators
timewarp-coordinators@worldcon.fi
https://1980.worldcon.fi/
