---
from: finance@worldcon.fi
fromname: Worldcon 75 Finance
subject: New Worldcon 75 Payment: {{&typeLabel}}
---
{{#name}}
Dear {{&name}},

{{/name}}
We've just processed a new {{&strAmount}} {{&typeLabel}} payment for you from {{&payment_email}}. The specific details for this are as follows:

{{&data}}


Our charge ID for this transaction was {{&stripe_charge_id}}.


Worldcon 75
finance@worldcon.fi
http://worldcon.fi/
