---
from: timewarp-coordinators@worldcon.fi
fromname: The 1980 Timewarp Project
subject: Your 1980 Timewarp Access Key
---
Thank you for registering for the 1980 Timewarp Project with the address "{{&email}}".  Now that you have registered, you are able to nominate up until 26 October, 2016 at 23:59 EEST (Finnish Summer time – that is 21:59 British Summer Time, 4.59 pm Eastern Daylight Time, 1.59 pm Pacific Daylight Time)

The 1980 Timewarp Project is a fan-supported test of new software solutions for the 2017 Hugo awards.  We ask that you nominate your own favourites from the genre and fandom from 1979, by signing in at the following address:

{{&login_uri}}

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

If you have difficulties accessing the online ballot, or you have more general questions on the 1980 Timewarp process, you can e-mail timewarp-coordinators@worldcon.fi for assistance.

Thank you and we look forward to your participation in the 1980 Timewarp!


Sincerely,

Nicholas Whyte
Colette H. Fozard
The 1980 Timewarp Project Coordinators
timewarp-coordinators@worldcon.fi
https://1980.worldcon.fi/
