@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';

* { box-sizing:border-box; }

html { height: 100%; }

body {
  background: url(https://worldcon75.github.io/client/master/img/bg-aurora.jpg) center top / cover no-repeat fixed #005383;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  min-height: 100%;
}

main {
  margin: 24px 24px 0;
}

#ursa {
  float: right;
  margin: -8px 4% 24px !important;
  opacity: 1 !important;
  position: relative;
  width: 40%;
  transition: opacity 1s 2s;
  z-index: 2;
}

@media only screen and (min-width: 64em) {
  #ursa {
    margin-right: 8% !important;
    width: 25%;
  }
}


h1 {
  color: #fc7c39;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 2px #fc7c39;
}

h2 { color: #fc7c39; font-size: 24px }
h3 { color: #fc7c39; font-size: 18px }

:-moz-ui-invalid { box-shadow: none }

.bg-text {
  color: white;
  text-shadow: 0 0 3px black;
}
a {
  color: #00a1ff;
  text-decoration: none;
}
a:active { color: #fc7c39 }
a:hover { text-decoration: underline }

.action-head { background-color: #3da9d4 !important }
.action-head * { color: white !important }

.body-card {
  margin: 30px 0;
  padding: 5px 15px;
}

div.upload {
	min-height: 100px;
	display: block;
}

span.upload input {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 0px;
    opacity: 0.7
}

.logo {
  color: #999 !important;
  height: 56px !important;
  left: 48px !important;
  pointer-events: none;
  position: absolute;
  top: 0 !important;
  transition: all 600ms !important;
  width: auto !important;
  z-index: 9999;
}

.logo.navbar {
  color: #fc7c39 !important;
  height: 80px !important;
  left: 24px !important;
  top: -10px !important;
}

.h1-logo {
  color: #fc7c39 !important;
  height: 72px !important;
  margin: 0 8px -24px 0;
  width: auto !important;
}

.logoutHint {
  opacity: 0;
  transition: opacity 450ms;
}
.logoutButton:hover .logoutHint { opacity: 1 }

.vote-intro h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 36px 0 0;
}
.vote-intro h3:first-child { margin-top: 16px }

.vote-intro .disabled {
  border-bottom: 1px solid #808080;
  font-weight: bold;
  padding-bottom: 2em;
}

.vote-item > div > div > div:last-child {
  height: auto !important;
  white-space: normal !important;
}
